/*GENERAL*/

body {
	width: 90%;
	margin: 2% 5%;
}
/*header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
}*/
.flexContainer {
	display: flex;
	flex-direction: row;
}

/*NAV*/

nav {	
	border: 2px solid black;
	margin: 20px 40px 10px 50px;
	background-color: #FFB4B0; 
}

nav li  {
	display: inline-block;
	/*border: 1px solid balck;*/
	list-style-type: none;
}

nav li a {
	font-weight: bold;
	padding: 2px;
}

/*FILTER FORM*/

form {
	display: flex;
	margin-left: 50px;
	padding: 1%;
	border: 2px solid black;
	flex-basis: 0;
	flex-grow: 1;
	background-color: #4DD7FA;
}

.sliderBox,
.artistBox,
.albumBox,
.buttonBox{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	/*margin: 0 50px;*/
}


#selection {
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
}

#genre {
	display: flex;
	align-items: flex-end;
	/*margin: 0 auto;*/
	
}

.genBoxLeft,
.genBoxMid,
.genBoxRight {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

label {
	padding: 10px 0;
	font-weight: 500;
	font-size: 1.2em;
}

#slider {
	height: 5px;
	border: 2px solid black;
	background-color: lightgrey;
}

input[type=range],
select,
option {
	width: 150px;
	/*background-color: lightgrey;*/
	font-weight: 600;
	box-sizing: content-box;
	border: 2px solid black;
}

input[type=checkbox] {
	width: 50px;
	box-sizing: content-box;
    border: 2px solid black;
}

button {
	height: 30px;
	width: 125px;
	margin-left: 25%;
	font-size: 1em;
	font-weight: 600;
	background-color: lightgrey;
	border: 2px solid black;
	border-radius: 10px;
}


/*SONGS SECTION*/

.songs {
	border: 2px solid black;
	flex-basis: 0;
	flex-grow: 4;
	margin-right: 40px;
	margin-left: 15px;
	background-color: #FEFAC0;
}

h1 {
	color: #785616;
}


.songs li {
	list-style-type: none;
	padding: 5%;
	color:  #785616;

}

















