
/*GENERAL*/  
$navColor: #107A49;
$formColor: #107A49;
$btnColor: lightgrey;
$songBoxColor: #107A49;
$borderColor: #fff;
$backgroundColor: #CED9D4;
$textColor: #fff;

body {
	// width: 90%;
	// margin: 2% 5%;
	background-color: $backgroundColor;
	color: $textColor;
	text-shadow: 1px 1px #000; 
	height: 100%;
}
// .row-flex, .row-flex > div[class*='col-'] {  
//     display: -webkit-box;
//     display: -moz-box;
//     display: -ms-flexbox;
//     display: -webkit-flex;
//     display: flex;
//     flex:1 1 auto;
// }

// .row-flex-wrap {
// 	-webkit-flex-flow: row wrap;
//     align-content: flex-start;
//     flex:0;
// }

// .row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
// 	 margin:-.2px; /* hack adjust for wrapping */
// }

// .container-flex > div[class*='col-'] div,.row-flex > div[class*='col-'] div {
// 	width:100%;
// }


// .flex-col {
//     display: flex;
//     display: -webkit-flex;
//     flex: 1 100%;
// 	flex-flow: column nowrap;
// }

// .flex-grow {
// 	display: flex;
//     -webkit-flex: 2;
//     flex: 2;
// }

// .row{
//     overflow: hidden; 
// }

// [class*="col-"]{
//     margin-bottom: -99999px;
//     padding-bottom: 99999px;
// }
// .flexContainer {
// 	display: flex;
// 	flex-direction: row;
// }

/*NAV*/

nav {	
	border: 2px solid $borderColor;
	// margin: 20px 40px 10px 50px;
	background-color: $navColor; 
}

// nav li  {
// 	display: inline-block;
// 	list-style-type: none;
// }

// nav li a {
// 	font-weight: bold;
// 	padding: 2px;
// }

a:visited {
	color: #5FB38B;
}

/*FILTER FORM*/

form {
	// display: flex;
	// margin-left: 50px;
	// padding: 1%;
	border: 2px solid $borderColor;
	// flex-basis: 0;
	// flex-grow: 1;
	background-color: $formColor;
}

.sliderBox,
.artistBox,
.albumBox,
.buttonBox{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 20% auto;
}

.form-group {
	margin: 10%;
}
label .form-check-inline {
	padding: 1%;
} 

.form-check-inline {
	margin: 3%;
	
}
#selection {
	height: 785px;
}



label {
	font-weight: 500;
	font-size: 1.2em;
}

#slider {
	border: 2px solid $borderColor;
	background-color: $btnColor;
}

input[type=range],
select,
option {
	font-weight: 600;
	box-sizing: content-box;
	border: 2px solid $borderColor;
}

input[type=checkbox] {
	
    border: 2px solid $borderColor;
}

#listMusicBtn {
	font-size: 1em;
	font-weight: 600;
	background-color: $btnColor;
	border: 2px solid $borderColor;
	border-radius: 10px;
}

#filterBtn{
	height: 30px;
	width: 125px;
	margin: 0 auto;
	font-size: 1em;
	font-weight: 600;
	color: #fff;
	text-shadow: 1px 1px #000; 
	background-color: $btnColor;
	border: 2px solid $borderColor;
	border-radius: 10px;
}


/*SONGS SECTION*/

#main {
	border: 2px solid $borderColor;
	background-color: $songBoxColor;

}

h3 {
	font-size: 1.5em;
	color: $textColor;
}


/*ADD MUSIC STYLES*/

.songInput {
	border: 1px solid $borderColor;
}

inputs .addInputs {
	margin: 1% auto;
}

h4 {
	text-align: center;
}
.hide{ 
	display: none;
}

.show {
 	background-color: $formColor;
	border: 1px solid $borderColor;
	height: 70%;
	width: 30%;
	margin:  2% auto;
}

#addMusicBtn {
	height: 30px;
	width: 125px;
	font-size: 1em;
	font-weight: 600;
	color: #fff;
	text-shadow: 1px 1px #000;
	background-color: $btnColor;
	border: 2px solid $borderColor;
	border-radius: 10px;
	text-align: center;
	margin: 1% 30%;
}


.delete {
	height: 20px;
	width: 60px;
	margin: 1%;
	font-size: .5em;
	font-weight: 600;
	color: #fff;
	text-shadow: 1px 1px #000; 
	background-color: $btnColor;
	border: 2px solid $borderColor;
	border-radius: 5px;
}


 #more {
 	height: 30px;
	width: 125px;
	font-size: 1em;
	font-weight: 600;
	color: #fff;
	background-color: $btnColor;
	border: 2px solid $borderColor;
	border-radius: 10px;
	text-align: center;
 }
